.banner {
    position: relative;
    width: 100%;
    height: 717px;
    top: 100px;
    left: 0;
    object-fit: cover;
    z-index: 1;
}

.book-type {
    position: absolute;
    width: 1051px;
    height: 685px;
    top: 0;
    left: 113px;
}

.title {
    margin-top: 50px;
    font-family: "Poppins", Helvetica;
    font-weight: 600;
    color: var(--font-color);
    font-size: 24px;
    letter-spacing: 0;
    text-align: center;
    line-height: normal;
}

.book-title {
    margin-top: 20px;
    font-family: "Poppins", Helvetica;
    font-weight: 600;
    color: var(--font-color);
    font-size: 24px;
    letter-spacing: 0;
    text-align: center;
    line-height: normal;
    margin-bottom: 50px;
}

.description {
    margin-top: 5px;
    font-family: "Poppins", Helvetica;
    font-weight: 300;
    color: var(--font-color);
    font-size: 18px;
    letter-spacing: 0;
    text-align: center;
    line-height: normal;
}

.image-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-around; /* Adjust as needed: space-around, space-between, center, etc. */
    align-items: center;
}

.image {
    width: 350px; /* Set the width of each image as needed */
    height: 450px; /* Maintain the aspect ratio */
}

#hiddenElement {
    position: relative;
    height: 125px;
    align-items: center;
    transition: all 0.5s ease-in-out;
    z-index: 100;
     /* Add transition property for opacity */
}

.hidden {
    display: none;
}

.categories {
    margin: 30px 0;
}

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img {
    width: 100%;
}

.col-4 .description {
    background-color: #fafcfc;
}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4 .description h2 {
    font-family: "Poppins", Helvetica;
    font-weight: 600;
    color: var(--font-color);
    font-size: 18px;
    letter-spacing: 0;
    text-align: left;
    line-height: normal;
    margin-top: 15px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-4 .description h3 {
    font-family: "Poppins", Helvetica;
    font-weight: 300;
    color: var(--font-color);
    font-size: 14px;
    letter-spacing: 0;
    text-align: left;
    line-height: normal;
    margin-left: 10px;
}

.col-4 .description h4 {
    font-family: "Poppins", Helvetica;
    font-weight: 500;
    color: var(--font-color);
    font-size: 16px;
    letter-spacing: 0;
    text-align: left;
    line-height: normal;
    margin-left: 10px;
    padding-bottom: 12px;
}

.features-title {
    text-align: center;
    margin: 0 auto 50px;
    position: relative;
    line-height: 60px;
    color: #555;
    font-weight: 600;
}

.features-title::after {
    content: '';
    background: #f7af5c;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.col-4:hover {
    transform: translateY(-5px);
}

.row-2 {
    justify-content: space-between;
    margin: 50px auto 10px;
}

.row-2 h2 {
    font-family: "Poppins", Helvetica;
    font-weight: 600;
    color: var(--font-color);
    font-size: 26px;
    letter-spacing: 0;
    text-align: left;
    line-height: normal;
}

select {
    border: 1px solid #555;
    padding: 5px;
}
select:focus {
    outline: none;
}

.page-button {
    margin: 0px 590px 40px;
}

.page-button span {
    display: inline-block;
    border: 1px solid #f7af5c;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.page-button span:hover {
    background: #f7af5c;
    color: #fff;
}

.categories .row button {
    text-decoration: none;
    display: inline-block;
    border: 1px solid #f7af5c;
    margin-left: 465px;
    width: 90px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    color: #555;
}

.categories .row button:hover{
    background: #f7af5c;
    color: #fff;
}